@import "tailwindcss";

.clip-diagonal {
clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
